<h1>{{name}}</h1>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>Address: {{address.street}}, {{address.number}} - {{address.city}}, {{address.state}}</li>
</ul>

<button (click) = "onClick()">Click Me</button>
<button (click) = "toggleEdit()">Edit User</button>

<div *ngIf = isEdit>
  <h2>Edit User</h2>
  <form>
    <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)] = "name" name="name">
    </div>
    <div>
      <label for="age">Age: </label><br>
      <input type="number" [(ngModel)] = "age" name="age">
    </div>
    <div>
      <label for="email">Email: </label><br>
      <input type="text" [(ngModel)] = "email" name="email">
    </div>
    <div>
      <label for="street">Street: </label><br>
      <input type="text" [(ngModel)] = "address.street" name="street">
    </div>
    <div>
      <label for="name">Number: </label><br>
      <input type="number" [(ngModel)] = "address.number" name="number">
    </div>
    <div>
      <label for="city">City: </label><br>
      <input type="text" [(ngModel)] = "address.city" name="city">
    </div>
    <div>
      <label for="state">State: </label><br>
      <input type="text" [(ngModel)] = "address.state" name="state">
    </div>
  </form>
</div>

<h3>Hobbies of {{name}}</h3>
<form (submit) = "addHobbie(hobbie.value)">
    <div>
      <label for="hobbie">Hobbie:</label>
      <input type="text" #hobbie>
    </div>
</form>
<ul>
  <li *ngFor = 'let hobbie of hobbies'>{{hobbie}} <button (click) = "deleteHobbie(hobbie)">delete</button></li>
</ul>

<h1>Posts</h1>
<div *ngFor = "let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>
